<h1>Restaurants#index</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
         <%= link_to restaurant.name, restaurant_path(restaurant) %>
        <%= link_to restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </li>
  <% end %>
</ul>
